.backdrop-description {
    background-color: #D3D3D3;
    overflow: hidden;
}

.movie-poster {
    float: left;
    padding: 5%;
}

.body-color {
    background-color: #D3D3D3;
}

.movie-description {
    color: black;
    float: right;
    width: 65%;
    padding: 5%;
    padding-top: 7%;
}

@media screen and (max-width: 1200px) {
    .movie-description {
        color: black;
        float: right;
        width: 50%;
        padding: 5%;
        padding-top: 7%;
    }
    .movie-poster {
        float: left;
        padding: 5%;
    }
}

@media screen and (max-width: 767px) {
    .movie-description {
        text-align: center;
        float: none;
        width: 100%;
    }
    .movie-poster {
        float: none;
        text-align: center;
    }
}

.view-button {
    border-radius: 10%;
    background-color: #563D7c;
    color: pink;
    /* margin: 2% 3% 2% 3%; */
    padding: 2%;
}