.backdrop-description {
    background-color: #D3D3D3;
    overflow: hidden;
}

.movie-poster {
    float: left;
    padding: 5%;
}

.body-color {
    background-color: #D3D3D3;
}

.movie-description {
    color: black;
    float: right;
    width: 65%;
    padding: 5%;
    padding-top: 7%;
}

@media screen and (max-width: 1200px) {
    .movie-description {
        color: black;
        float: right;
        width: 50%;
        padding: 5%;
        padding-top: 7%;
    }
    .movie-poster {
        float: left;
        padding: 5%;
    }
}

@media screen and (max-width: 767px) {
    .movie-description {
        text-align: center;
        float: none;
        width: 100%;
    }
    .movie-poster {
        float: none;
        text-align: center;
    }
}

.log-in-but {
    list-style-type: none;
    padding-right: 2%;
}

.navbar-color {
    background-color: #563D7c;
}

.navbar-text {
    color: pink !important;
    border: 0px solid white !important;
}

.navbar-text:hover {
    background-color: #563D7c !important;
}