.main-page {
    padding: 5% 10% 5% 10%;
    background-color: #D3D3D3;
}

.body-color {
    background-color: #D3D3D3;
}

.movie-card {
    background-color: whitesmoke;
    color: black;
    border: 2px solid black;
}

.movie-name {
    font-family: 'Montserrat';
    font-size: 2.5em;
    padding: 2% 3% 2% 3%;
}

.movie-rating {
    font-family: 'Montserrat';
    font-size: 1.5em;
    padding: 2% 3% 2% 3%;
}

.view-button {
    border-radius: 10%;
    background-color: #563D7c;
    color: pink;
    margin: 2% 3% 2% 3%;
    padding: 2%;
}

.card-back {
    padding: 2% 2% 2% 2%;
}