.main-page {
    padding: 2% 10% 5% 10%;
    background-color: #D3D3D3;
}

.body-color {
    background-color: #D3D3D3;
}

.movie-card {
    background-color: whitesmoke;
    color: black;
    border: 2px solid black;
    object-fit: cover;
}

.img-display {
    /* width: 100%; */
    height: auto;
    max-width: 100%;
    /* height: 25%; */
    /* width: 100%;
    height: 300px; */
    /* height: 25%; */
    /* height: 75%; */
}

.movie-name {
    font-family: 'Montserrat';
    font-size: 2.5em;
    padding: 2% 3% 2% 3%;
}

.movie-rating {
    font-family: 'Montserrat';
    font-size: 1.5em;
    padding: 2% 3% 2% 3%;
}

.view-button {
    border-radius: 10%;
    background-color: #563D7c;
    color: pink;
    margin: 2% 3% 2% 3%;
    padding: 2%;
}

.card-back {
    padding: 2% 2% 2% 2%;
    height: 10%;
}