.boxed {
    border: 5px solid black;
}

.backdrop-description {
    background-color: #D3D3D3;
    overflow: hidden;
    padding: 5% 10% 5% 10%;
}

.movie-poster {
    float: left;
    padding-left: 25%;
    padding-top: 5%;
}

.movie-description {
    color: black;
    float: right;
    /*width: 50%;*/
    padding: 6%;
    padding-right: 25%;
    /*padding-top: 25%;*/
}

.dual {
    display: inline-block;
    padding-right: 5%;    
}

.under-poster {
    float: left;
    padding-top: 25%
    padding-bottom: 10%;
    padding-left: 31%;
}

@media screen and (max-width: 1200px) {
    .movie-description {
        color: black;
        float: right;
        width: 50%;
        padding: 5%;
        padding-top: 7%;
    }
    .movie-poster {
        float: left;
        padding: 5%;
    }
}

@media screen and (max-width: 767px) {
    .movie-description {
        text-align: center;
        float: none;
        width: 100%;
    }
    .movie-poster {
        float: none;
        text-align: center;
    }
}

label {
    color: black;
}

.body-color {
    background-color: #D3D3D3;
}

.view-button {
    border-radius: 10%;
    background-color: #563D7c;
    color: pink;
    /* margin: 2% 3% 2% 3%; */
    padding: 2%;
}