{% from "_macros.html" import navbar %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about_movie_page.css')}}" id="css-link">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <title>Bookmshow</title>
</head>

<body class="body-color">

    {{ navbar() }}

    <div class=" container-fluid backdrop-description">
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non modi blanditiis iusto, ratione sapiente distinctio dolorum consequatur fuga ullam quos repudiandae, obcaecati, consequuntur corrupti officiis voluptates molestias ea quo repellendus!</p> -->
        <div class="movie-poster">
            <img src="static/imgs/{{ content['image'] }}" alt="" class="movie-poster img-fluid">
        </div>
        <div class="movie-description">
            <h2 class="movie-name">{{ content["name"] }}</h2>
            <h3 class="movie-rating">Rating: {{ content["rating"] }}</h3>
            <p class="movie-gist">{{ content["description"] }}</p>
            <form action="/theatre.html" method="POST" role="form">
                <input type="hidden" id="movie" name="movie" value="{{content['name']}}">
                <button type="submit" name="submit" class="view-button">Book Now</button>
            </form>
        </div>
    </div>


</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>