{% from "_macros.html" import navbar %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/theatre_page.css')}}" id="css-link">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <title>Bookmshow</title>
</head>

<body class="body-color">

    {{ navbar() }}

    <div class=" container-fluid backdrop-description">
        <div class="total-segment">
            {% for theatre_name in theatres %}
            <div class="segment">
                <div class="segment-left">
                    <h3 class="time">{{ theatre_name }}</h3>
                </div>
                <div class="segment-right">
                    {% for timeslot in theatres[theatre_name] %}
                    <form action="/ticket_booking.html" method="POST" class="form_inline">
                        <button class="timeslot" type="submit">{{ timeslot }} </button>
                        <input type="hidden" id="theatre_name" name="theatre_name" value="{{ theatre_name }}">
                        <input type="hidden" id="movie_time" name="movie_time" value="{{ timeslot }}">
                        <input type="hidden" id="movie" name="movie" value="{{ content }}">
                        <input type="hidden" id="quantity" name="quantity" value="0">
                        <!-- <button type="submit" name="submit" class="view-button">{{ timeslot }}</button> -->
                    </form>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>