{% from "_macros.html" import navbar,navbar2 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ticket_booking.css')}}" id="css-link">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/macro.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <title>Bookmshow</title>
</head>

<body class="body-color">

    {{ navbar2() }}
    <div class=" container-fluid backdrop-description">
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non modi blanditiis iusto, ratione sapiente distinctio dolorum consequatur fuga ullam quos repudiandae, obcaecati, consequuntur corrupti officiis voluptates molestias ea quo repellendus!</p> -->
        <div class="movie-poster">
            <img src="static/imgs/{{ content['image'] }}" alt="" class="movie-poster img-fluid">
            <div class="under-poster">
            <h2 class="movie-name">{{ content["name"]}}</h2>
            <h3 class="movie-rating">Rating:{{ content["rating"]}}</h3>
        </div>
        </div>
        <div class="movie-description">
            <h3>{{theatre_name}}</h3>
            <h3>{{movie_time}}</h3>
            <br>
            <h3 class="dual"> Amount paid <br> {{cost}}</h3>
            <h3 class="dual">Tickets <br> {{number}}</h3>
            <br>
            <br>
            <h5>Seats</h5>
            <h1>{{seatsselected}}</h1>
            <br>
            <br>
            {% if flag == 0 %}
            <form action="/ticket_booking.html" method="POST" role="form" class="dual">
            	<input type="hidden" id="movie" name="movie_confirmation" value="no">
                <button type="submit" name="submit" class="view-button dual">Cancel</button>
            </form>
            <form action="/ticket_booking.html" method="POST" role="form" class="dual">
            	<input type="hidden" id="movie" name="movie_confirmation" value="{{content['name']}}">
            	<input type="hidden" name="movie_name" value="{{content['name']}}">
	            <input type="hidden" name="theatre_name" value="{{theatre_name}}">
	            <input type="hidden" name="movie_time" value="{{movie_time}}">
	            <input type="hidden" name="number" id="number" value="{{number}}">
	            <input type="hidden" name="cost" id="cost" value="{{cost}}">
	            <input type="hidden" name="seatsselected" id="seatsselected" value="{{seatsselected}}">
                <button type="submit" name="submit" class="view-button dual">Confirm</button>
            </form>
            {% endif %}
            {{message}}
            
        </div>

    </div>



</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>